{
   "mail" : {
    "username":"<account_name>",
    "password":"<pwd>",
    "special_senders":[
        "<important_mail_1>",
        "<important_mail_2>",
        "<important_mail_3>"
    ]
   },
   "bot": {
    "token" : "<bot_api_token>",
    "chat_id": "<bot_chat_id>"
   }
}